$ancho: (
    w-100: 100%
); 


.encabezadoPagina{
    @extend %flexbox;
    height: 190px;
    width: map-get($map: $ancho, $key: w-100);
    background-color: $bg-pagina;
}

.contenedorMainPagina{
    background-color: $bg-pagina;
}