
@import '../scss/base/mixin.scss';
@import '../scss/base/extends';

.contenedorFooter{
    @extend %flexbox;
    background-color: $bg-pagina;
    width: map-get($ancho, w-100 );
    height: 20vh;
    align-items: center;
    flex-direction: row;
    @extend %borders;
    @include estilos;
}

.imagenFooter{
    width: 6vw;
    height: 6vh;
    
}

.tituloFooter{
    font-size: x-large;
    color: whitesmoke;
}

/*Transformaciones Footer*/

.imagenFooter:hover {
    transform: scale(2);
    transition: 0.5s;
}

